[alias]
    com = commit -m
    stat = status
    st = stash
    stp = stash pop
    pullall = pull -p --all
    pushall = push -u --all
    a = add .
    needpull = fetch -v --dry-run
    slog = log --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(15,trunc)%ad %C(auto,green)%aN %C(auto,reset)%s%C(auto,red)% gD' --date=relative
[push]
    default = simple
[user]
	name = Byung Cheol Cho
	email = bccho@princeton.edu
[core]
	editor = vim
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
